<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="loginCSS.css">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1 class ="header"> test</h1>
<div id = "form">
  <p class="form-title">Login</p>
  <form action= "post">
    <p>Email</p>
    <p class ="mail">
      <input type="email" name="mail"/>
    </p>

    <p>Password</p>
  <p class ="pass">
    <input type ="password" name="pass"/>
  </p>
  <p class ="check">
    <input type = "checkbox" name="checkbox"/>Save Password
  </p>
    <p class ="submit">
      <input type="submit" value="Login"/>
    </p>
    <p class="member">
      <input type="submit" value="Signup now!"/>
    </p>
  </form>
</div>

</body>
</html>