.header {
    font-size: 30px;
    text-align:center;
    color: #077685;
}
body,p,form,input {
    margin: 0;
}

#form {
    width: 400px;
    margin: 60px auto;
    padding: 40px;
    border: 10px solid #555;
}

form p {
    font-size: 14px;
}
.firstname,
.lastname,
.personalNumber,
.email,
.mobile,
.password
{
    margin-bottom: 20px;
}

input[type="password"],
input[type="tel"],
input[type="text"]{
    width: 300px;
    padding: 4px;
    font-size: 14px;
}

.submit input {
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 6px #e3e3e3;
    -moz-box-shadow: 0px 8px 6px #e3e3e3;
    box-shadow: 0px 8px 6px #e3e3e3;
    border: solid #f5fdff 4px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#61c7e0), to(#418da8));
    background: -moz-linear-gradient(top, #61c7e0, #418da8);
}

#form {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 1px 10px #488a9e;
    -moz-box-shadow: 0px 1px 10px #488a9e;
    box-shadow: 0px 1px 10px #488a9e;
    border: solid #4eb4c2 1px;
    background: #fafafa;
}